/* الموبايل */
@media (max-width: 767px) {
  body {
    background: lightblue;
    font-size: 14px;
  }
}

/* التابلت */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background: lightgreen;
    font-size: 16px;
  }
}

/* اللاب توب والديسكتوب */
@media (min-width: 1025px) {
  body {
    background: lightcoral;
    font-size: 18px;
  }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    color: #333;
    font-family: tahoma, sans-serif;
    line-height: 1.6
}
header{
    text-align: center;
    background: linear-gradient(135deg, #3498db, #2c3e50) ;
    color: #eee;
    padding: 60px 20px;
}
header h1{
    font-size: 2.5rem ;
    margin-bottom:10px ;
}
header p{
    font-size: 1.2rem;
}
.skills ul{
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}
.skills li{
    padding: 10px 20px;
    margin: 8px;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
}
.skills li:hover{
    color: #eee;
    background: #3498db;
}
section{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}
section h2{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #3498db ;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #2c3e50;
}
.projects{
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      display: grid;
}
.project{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0,3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
.project:hover{
    transform: translateY(-5px);
}
.project h3{
    color: #3498db;
    margin-bottom:10px ;
}
.project a{
    text-decoration: none;
    color: #3498db;
}
.project a:hover{
    text-decoration: underline;
}
.contact p{
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.contact a{
    text-decoration: none;
    color: #3498db;
    padding: 6px;
}
.contact a:hover{
    text-decoration: underline;
}
footer{
    color: #fff;
    background-color: #2c3e50;
    padding: 20px;
    margin-top:40px ;
    text-align: center;
}